@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap');



* {
    margin: 0;
    padding: 0;
}

body {
  background-color: #f5f5f5;
  height: 100vh;
  font-family: 'Cabin', sans-serif;
  
 
    
}

.title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: rgb(42, 209, 184);
    letter-spacing: 1px;
    margin: 30px 0;
}

  .container {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    padding: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
}


  ul {
    list-style-type: none; 
  }

  

  button:hover {
    cursor: pointer;
   
  }
  .add-button {
    border: none;
    border-radius: 5px;
    background-color: rgb(42, 209, 184);
    outline: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    padding: 7px;
    font-size: 1.2rem;
    
  }
  /* todo-form style ends */
  /* todo-items */

  .list-items {
    width: 100%;
    margin-top: 30px;
}

.item-form {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
}

.item-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}



  /* each li with class="item" */
  .item {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    font-size: 16px;
    font-weight: 500;
    color: #111;
    letter-spacing: 1px;

}

 
  .item:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  .item:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  /* item style end */
  .checkbox {
    
    margin-right: 10px;
  }
  .delete-button {
    color: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    cursor: pointer;
    float: right;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 2px 5px;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: 550;
  }

  .delete-button:hover {
    background-color: #f5f5f5;
    color: red;
  }
  /* applied when the todo item is checked */
  ul li.checked { 
   
    color: rgb(42, 209, 184);
    font-size: 16px;
    font-weight: bold;
    text-decoration: line-through;
  }



.hero {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
 
 

}

nav {
  background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
width: 100%;
padding: 10px;
display: flex;
align-items: center;
justify-content: space-between;
position: relative;

}

.logo {
  color: rgb(42, 209, 184);
  width: 120px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 30px;
  font-size: 22px;
  font-weight: bold;
}

.user-pic {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
}



nav ul li a {
  color: rgb(8, 6, 133);
  text-decoration: none;
}
.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 10%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  /* transition: max-height 0.5s; */
}

.sub-menu-wrap.open-menu {
  max-height: 400px;
  margin-right: -140px;
}

.sub-menu {
  background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px solid#f5f5f5;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}
.user-info {
  display: flex;
  align-items: center;
}

.user-info h3 {
  font-weight: 500;
  color: white;
}

.user-info img {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin: 15px 0 10px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 12px 0;
}

.sub-menu-link p {
  width: 100%;
}

.sub-menu-link i {
  color: white;
  width: 15px;
  background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}

.sub-menu-link span {
  font-size: 22px;
  transition: transform 0.5s;
}

.sub-menu-link:hover span {
  transform: translateX(5px);
}
.sub-menu-link:hover p {
  font-weight: 600;

}
.light {
  background-color: #f5f5f5;
  color: white;
}

.light .toggle {
  background: linear-gradient(145deg, #e1e1e1, #fff);
  box-shadow: 3px 3px 4px #e6e6e6,
  -3px -3px 4px #ffffff;
}

.toggle .ball {
  position: absolute;
  width: 45px;
  height: 45px;
  margin: 7.5px;
  border-radius: 50%;
}

.toggle {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 60px;
  border-radius: 50px;
}

.toggle i {
  width: 23%;
  line-height: 60px;
  text-align: center;
  font-size: 25px;
  z-index: 1;
}

.light .toggle .fa-sun {
  color: #fafafa;
}
.light .toggle .fa-moon {
  color: #151d2a;
}

.light .toggle .ball {
  background-color: #151d2a;
}

#toggle {
  display: none;
}

.dark {
  background: #16222A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  color: white;
}

.dark .toggle {
  background: #151d2a;
  box-shadow: 3px 3px 3px #0e131b,
  -3px -3px 3px #1c2739;
}

.toggle .ball {
  position: absolute;
  width: 45px;
  height: 45px;
  margin: 7.5px;
  border-radius: 50%;
}

.toggle {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 60px;
  border-radius: 50px;
}

.toggle i {
  width: 23%;
  line-height: 60px;
  text-align: center;
  font-size: 25px;
  z-index: 1;
}

.dark .toggle .fa-moon {
  color: #fafafa;
}
.dark .toggle .fa-sun {
  color: #151d2a;
}

.dark .toggle .ball {
  background-color: #fafafa;
  transform: translateX(60px);
}

footer {
    padding: 10px;
    text-align: center;
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(42, 209, 184)
   
}






.notification-box {
  background: linear-gradient(to right, #3A6073, #16222A); 
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-left: 8px solid rgb(42, 209, 184);
    border: 1px solid white;
    position: absolute;
    top: 30px;
    left: -100%;
    transition: all .3s;
}

.notification-box.active {
    
    left: 30px;
}

.fa-check, .fa-xmark {
    position: absolute;
    font-size: 26px;
}

.fa-check {
    left: 10px;
    background: linear-gradient(to right, #3A6073, #16222A); 
    border-radius: 50%;
    color: rgb(42, 209, 184)
}

.fa-xmark {
  background: linear-gradient(to right, #3A6073, #16222A); 
 border-radius: 50%;
    left: 15px;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
nav {
    width: 95vw;
}

    .container {
        width: 90%;
    }
    .notification-box {
        
        width: 90%;
    }

    .notification-box.active {
        top: 80px;
        left: 15px;
        width: 90%;
        font-size: 16px;
    }
    .fa-xmark {
        left: 15px;
        cursor: pointer;
    }

    .add-button {
        border: none;
        border-radius: 5px;
        background-color: rgb(42, 209, 184);
        outline: none;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
        padding: 7px;
        font-size: 1.1rem;
        height: 40px;
        
      }

      .sub-menu {
        background-color: #fff;
        padding: 20px;
        margin: 10px;
      }

      .sub-menu-wrap {
        position: absolute;
        top: 100%;
        right: 10%;
        width: 320px;
        max-height: 0px;
        overflow: hidden;
        /* transition: max-height 0.5s; */ 
      }
      .sub-menu-wrap.open-menu {
        width: 75%;
        max-height: 400px;
        margin-right: -40px
      }

      
}